
$breakpoint-phone: 375px;
@media (max-width: $breakpoint-phone) {


    
    .bal{
         width: 70%;
         height: 30px;
         position: absolute;
         right: 500rem;
         top: 80rem;
        }
        
    }


